$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);

$primaryBG: var(--primary-bg);
$secondaryBG: var(--secondary-bg);
$tertiaryBG: var(--tertiary-bg);
$darkenBG: var(--darken-bg);
$overlay: rgba(black, 0.5);

$txtColor: var(--text-color);

$t: ease-in 300ms;
$ft: ease-in 100ms;
